$color-black: #000;
$color-white: #fff;
$color-gray: #777;
$color-pale-white: #ddd;

.ProductDetail {
    width: 100%;
    // height: 130vh;
    // background-color: $color-pale-white;
    padding: 0 40px;
    margin-top: 80px;
    margin-bottom: 100px;

    .product-leave {
        padding: 30px 0;
        font-size: 13px;
        color: $color-gray;

        .product-link {
            text-decoration: none;
            color: $color-gray;

            &:hover {
                color: $color-black;
            }
        }

        .arrow {
            margin: 0 5px;
        }

        .product-name-first {
            color: $color-black!important;
            font-weight: 500;
        }
    }

    .product-detail-container {
        color: $color-black;
        display: flex;
        justify-content: space-around;
        
        .product-gallery {
            width: 50%;
            height: 100%;
            overflow: hidden;

            .product-small {
                height: 100%;
                margin-right: 20px;
                transform: 0.6s;

                &-item {
                    margin-bottom: 10px;
                    cursor: pointer;

                    & img {
                        width: 100px;
                        height: 120px;
                        display: block;

                    }

                    &:hover {
                        border: 1px solid $color-black;
                    }
                    &-active {
                        border: 1px solid $color-black;
                    }
                }
            }

            .product-slider {
                position: relative;
                width: 100%;
                height: 700px;
                overflow: hidden;

                .product-big {
                    width: 100%;
                    overflow: hidden;
                    transition: all 0.25s ease-out;

                    position: absolute;
                    top: 0;

                    &-item {
                        height: 100%;
                        cursor: pointer;
                        position: relative;

                        & img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                        }
                    }
                }

                .change-product {
                    position: absolute;
                    top: 50%;
                    margin: 0 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $color-white;
                    text-align: center;
                    transition: 0.5s;
                    cursor: pointer;
                }

                .left {
                    left: 0;
                }

                .right {
                    right: 0;
                }
            }
        }

        .product-info-detail {
            width: 50%;
            text-align: center;
            // margin: 30px 20px 30px 30px;

            .product-info-title {
                font-size: 32px;
                font-weight: 300;
                margin: 20px 0;
            }

            .product-info-des {
                font-size: 14px;
                color: $color-gray;
                margin-bottom: 20px;
            }

            .product-info-vote > *{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: rgb(39, 39, 39);
                cursor: pointer;
                
            }

            .product-info-price {
                font-size: 28px;
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 50px;
            }

            .product-info-cart {
                display: flex;
                justify-content: center;
                align-items: center;

                .count-cart {
                    height: 100%;
                    display: flex;
                    border: 1px solid $color-pale-white;
                    color: $color-gray;
                    cursor: pointer;
                    padding: 18px 30px;
                    transition: 0.5s;

                    &-item {
                        width: 30px;
                        height: 100%;

                        &>input {
                            width: 30px;
                            border: none;
                            font-size: 16px;
                            text-align: center;
                        }

                        
                    }
                    
                    &:hover {
                        border: 1px solid $color-black;
                    }
                }

                .product-info-addtocart {
                    background-color: $color-black;
                    color: $color-white;
                    padding: 18px 50px;
                    margin: 0 15px;
                    opacity: 0.85;
                    transition: 0.5s;

                    span {
                        margin-left: 10px;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

                .product-info-wishlist {
                    background-color: transparent;
                    border: 1px solid $color-pale-white;
                    color: $color-gray;
                    font-size: 20px;
                    padding: 15px 20px;
                    transition: 0.5s;

                    &:hover {
                        border: 1px solid $color-black;
                        color: $color-black;
                    }
                }
            }
        }

        .product-info-line{
            width: 80%;
            height: 1px;
            bottom: 0;
            background-color: $color-pale-white;
            margin: 40px 40px 10px 40px;
            text-align: center;
        }

        .product-info-cate {
            display: inline-block;
            justify-content: center;
            align-items: center;
            margin-top: 30px;

            & span:first-child{
                text-transform: uppercase;
                color: $color-gray;
                font-size: 13px;
            }

            & span:last-child {
                font-size: 12px;
            }
        }
        
        .product-info-social {
            margin-top: 40px;
            align-items: center;

            i{
                text-transform: uppercase;
                font-size: 12px;
                color: rgb(90, 90, 90);
                margin-right: 20px;

                .icon {
                    font-size: 16px;
                    margin-right: 8px;
                }

                &:hover {
                    color: $color-black;
                    transition: 0.35s ease-in;
                }
            }
        }
    }
}

.flex {
    display: flex;
}