.Product-Overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;
    margin-bottom: 30px;

    .product-icon-box {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #000;
        opacity: 0.85;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        .product-icon {
            color: #fff;
            font-size: 18px;
        }
    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-cart, .icon-view, .icon-wishlist {
        position: relative;
        bottom: -60px;
    }

    .icon-cart {
        transition: 0.2s;
    }

    .icon-wishlist {
        transition: 0.6s;
    }

    .icon-view {
        transition: 0.9s;
    }

}
.product:hover .icon-cart,
.product:hover .icon-wishlist,
.product:hover .icon-view {
        transform: translateY(-70px);
} 