@import "assets/styles/variables";

.my-account {
    .row > * {
        padding: 0;
    }

    &__menu {

        &__item {
            padding-top: 24px;
            cursor: pointer;

            a {
                color: $text-color-grey;
                text-decoration: none;
            }

            &:hover a, &:hover button{
                color: $text-color-black!important;
            }

            button {
                background-color: transparent!important;
                border: none!important;
                padding: 0!important;
                color: $text-color-grey!important;
                box-shadow: none!important;
            }
        }

        &__active {
            a {
                color: $text-color-black!important;
            }
        }
    }

    &__main {
        padding-left: 30px;
        padding-top: 10px;
        border-left: 1px solid $border-color-grey;
        min-height: 500px;
    }

    .btn-submit {
        background-color: $btn-bgc-black!important;
        color: $text-color-white!important;

        width: 50%;
        padding: 20px 0!important;
    }

    .form-group__submit {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}