.ProductItem {   
    width: 100%;
    // display: grid;
    // grid-template-columns: auto auto auto auto auto;

    .product {
    width: 100%;
    margin: 15px 15px 20px 15px;
    padding-right: 30px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

        &-img {
            position: relative;
            height: auto;
            
            .product-tag {
                position: absolute;
                font-size: 11px;
                font-weight: 550;
                color: #fff;

                top: 10px;
                left: 0;
                text-align: center;
                padding: 2px 10px;
                z-index: 100;
            }

            .sale {
                background-color: #00d994;
            }

            .hot {
                background-color: #ff6962;
            }

            .new {
                background-color: #ffaa65;
            }

            &-bg {
                position: relative;
                width: 100%;
                display: block;

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    padding-top: calc(235 / 195 * 100%);
                    background-color: #000;
                }

                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .img-default {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .hide {
                    visibility: hidden;
                }
            }
        }

        &:hover .img-default{
            visibility: visible;
            transition: 0.7s linear;
        }

        &-title {
            text-align: center;
            font-size: 13px;
            margin: 20px 0 10px 0;
        }

        &-price {
            text-align: center;
            font-weight: bold;
            font-size: 12px;
        }
    }
}