.Toast {
    background-color: #b4fac5;
    color: #248d63;
    position: fixed;

    top: 110px;
    right: 0;
    padding: 12px 20px;

    font-size: 14px;
    transition: 0.35s;
    opacity: 1;
    // z-index: -1;

    .icon-toast {
        font-size: 20px!important;
        margin-right: 10px;
        text-align: center;
    }

    // .show-toast {
    //     opacity: 1;
    //     z-index: 100;
    // }
}