.wishlist {
  &_content {
    width: 100%;
    min-height: 400px;
  }

  &_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    align-items: center;
  }

  &_info {
    & > a {
      margin-right: 15px;
    }

    img {
      width: 100px;
    }

    &_name {
      margin-left: 20px;
    }
  }

  &_delete {
    text-align: left;
  }

  &_action {
    text-align: center;
    margin-top: 60px;

    .button {
      &_checkout {
        display: block;
        max-width: 400px;
        max-height: 80px;
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: 80px;
        font-weight: 500;
        //text-transform: uppercase;
        background-color: #23232c;
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #fff;
        }

        &-subtotal {
          & > span {
            padding: 0 10px;
            line-height: 1;
          }

        }
      }
    }
  }
}