.Carousel {
    margin-top: 30px;
    padding: 0 25px;

    .main-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        & p,
        & > a {
            position: relative;
            font-size: 18px;
            font-weight: bold;
            margin: 0 25px;
            color: rgb(113, 113, 119);
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: #000;
            }
        }

        &-item::after {
            content: '';
            position: absolute;
            display: block;
            height: 3px;
            width: 0;
            right: 0;
            bottom: -3px;
            margin-top: 3px;
            background: #000;
            transition: 0.5s all;

            &:hover::after {
                animation: active_line 0.5s ease-in;
                width: 100%;
                left: 0;
            }
        }

        .active {
            color: #000;
            &::after {
                animation-name: none!important;
                bottom: -5px;
                height: 2px;
                width: 100%;
            }
        }
    }
}

@keyframes active_line {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}