$btn-bgc-black: #111114;
$text-color-black: #23232c;
$text-color-grey: #909097;
$text-color-white: #fff;
$border-color-grey: #eeeeee;
$color-black: #000;
$color-gray: #777;
$color-white: #fff;
$image-aspect-ratio: calc(235 / 195 * 100%);
